[Unit]
Description="Run end_all_desk_reservations.service every day at 6:30 PM"

[Timer]
OnCalendar=*-*-* 18:30:00 America/Los_Angeles
# Add a randomized activation delay of up to 1 minute to avoid activating
# multiple timers at exactly the same time
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target