[Unit]
Description="Run the end_all_desk_reservations command in the Django container"

# Ensure that the service only runs after the host has networking set up
After=network.target  

[Service]
# Make sure that the main process exits before starting consequent units
Type=oneshot

# Run the task as ec2-user
User=ec2-user
ExecStart=/usr/local/bin/run_django_manage_command.sh end_all_desk_reservations

# Send stdout and stderr to journalctl
StandardOutput=journal
StandardError=journal