[Unit]
Description="Run the send_approver_weekly_approve_reminders command in the Django container"

# Ensure that the service only runs after the host has networking set up
After=network.target  

[Service]
# Make sure that the main process exits before starting consequent units
Type=oneshot

# Run the task as ec2-user
User=ec2-user
ExecStart=/usr/local/bin/run_django_manage_command.sh send_approver_weekly_approve_reminders

# Send stdout and stderr to journalctl
StandardOutput=journal
StandardError=journal